<p id="notice"><%= notice %></p>

<p class="descript">
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>
<button>
  <%= link_to 'Edit', edit_todo_item_path(@todo_item) %> 
</button>
<button>
  <%= link_to 'Back', todo_items_path %>
</button
